@model Test

<h2>Добавление теста</h2>

@using(Html.BeginForm("Add", "Test", FormMethod.Post))
{
    <table>
        <tr>
            <td><p>Наименование:</p></td>
            <td><input type="text" name="name" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Отправить" /></td>
            <td></td>
        </tr>
    </table>
}