@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <a href='~/Test/'>Перейти по ссылке</a>
    @* <div class="jumbotron">
        <h1 class="display-4">Банк вопросов</h1>

        <form id='main_form'>
            <div class="form-group">
                <label for="question_name">Введите вопрос</label>
                <input type="text" class="form-control" id="question_name">
                <div id="tmp">
                    
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Найти</button>
        </form>
    </a> *@
</div>