@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Банк вопросов</h1>

        <form>
            <div class="form-group">
                <label for="question_name">Введите вопрос</label>
                <input type="text" class="form-control" id="question_name">
            </div>
            <button type="submit" class="btn btn-primary">Найти</button>
        </form>
    </div>
</div>