@model team_test.ViewModels.Test.Index

@using(Html.BeginForm("SetRunning", "Test", FormMethod.Post))
{
    <table>
        <tr>
            <td><p>Текущий тест:</p></td>
            <td><input type="text" name="guid" value=""/></td>
            <td><input type="submit" value="Применить"/></td>
        </tr>
    </table>
}

<h2>Список тестов</h2>

<ul>
@foreach (var test in Model.Tests)
{
    <li><a asp-action="Questions" asp-route-guid="@test.Guid">@test.Name</a> (@test.Guid)</li>
}
</ul>
<a asp-route-action="Add">Добавить</a>


<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Банк вопросов</h1>
        <div id="tmp">
            
        </div>

        @* <form>
            <div class="form-group">
                <label for="question_name">Введите вопрос</label>
                <input type="text" class="form-control" id="question_name">
            </div>
            <button type="submit" class="btn btn-primary">Найти</button>
        </form> *@
    </div>
</div>